@model tracking_project.Models.CustomerVehicle

@{
    ViewData["Title"] = "CustomerVehicleCreate";
}



<h4>Vehicle registration</h4>
<hr />
<div class="">
    <div class="">

        <form asp-action="CustomerVehicleCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4 style="font-family:'Times New Roman'"> Vehicle Info</h4>
            <select asp-for="CustomerID" class="form-control" asp-items="@(new SelectList(ViewBag.listod,"CustomerId","Name",ViewBag.Id))" style="display:none">
            </select>
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="CustomerID" class="control-label"></label>
                    <select asp-for="CustomerID" class="form-control" asp-items="@(new SelectList(ViewBag.listod,"CustomerId","Name",ViewBag.Id))" disabled>
                    </select>
                </div>

                <div class="col">
                    <label asp-for="UnitVehicle.UnitId" class="control-label"></label>
                    <select asp-for="unitId" class="form-control" asp-items="@(new SelectList(ViewBag.UnitId,"","UnitId"))">
                    </select>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="RegistrationNo" class="control-label"></label>
                    <input asp-for="RegistrationNo" class="form-control" placeholder="KH-5708" />
                    <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="EngineNo" class="control-label"></label>
                    <input asp-for="EngineNo" class="form-control" placeholder="19k203455" />
                    <span asp-validation-for="EngineNo" class="text-danger"></span>
                </div>

            </div><br />
            <div class="row col-sm-10">

                <div class="col">
                    <label asp-for="MakeModel" class="control-label"></label>
                    <select asp-for="MakeModel" class="form-control" asp-items="@(new SelectList(ViewBag.Make,"Id","Name"))" id="MakeModel" name="MakeModel">
                        
                    </select>
                </div>
                <div class="col">
                    <label asp-for="Model" class="control-label"></label>
                    <select asp-for="Model" class="form-control" id="Model" name="Model">
                    </select>
                </div>
                <div class="col">
                    <label asp-for="ChasisNo" class="control-label"></label>
                    <input asp-for="ChasisNo" class="form-control" placeholder=" 1 HD 1 AA K 1 X B Y 123456" />
                    <span asp-validation-for="ChasisNo" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row col-sm-10">

                <div class="col">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div><br />
            <h4 style="font-family:'Times New Roman'">Extra Info</h4>
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Geo Fences</label>
                    <input asp-for="GeoFences" class="form-control" />
                    <span asp-validation-for="GeoFences" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Source" class="control-label"></label>
                    <input asp-for="Source" class="form-control" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row col-sm-10">

                <div class="col">
                    <label class="control-label">Extra Features</label>
                    <textarea asp-for="ExtraFeatures" class="form-control">
                    </textarea>
                </div>
                <div class="col">
                    <label class="control-label">Spacial Remarkes</label>
                    <textarea asp-for="SpacialRemarkes" class="form-control"></textarea>

                </div>
            </div><br />
            <div class="row col-sm-10">

                <div class="col">
                    <label class="control-label">Payment Remarkes</label>
                    <input asp-for="PaymentRemarkes" class="form-control" />
                    <span asp-validation-for="PaymentRemarkes" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="form-check-label" style="margin-top:40px;margin-left:40px">
                        <input class="form-check-input" asp-for="PaymentAlert" /> @Html.DisplayNameFor(model => model.PaymentAlert)
                    </label>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Normal password</label>
                    <input asp-for="Normal" class="form-control" placeholder="" />
                    <span asp-validation-for="Normal" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Emergency password</label>
                    <input asp-for="Emergency" class="form-control" placeholder="" />
                    <span asp-validation-for="Emergency" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Driver</label>
                    <input asp-for="Driver" class="form-control" placeholder="" />
                    <span asp-validation-for="Driver" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Driver Contact</label>
                    <input asp-for="DrContact" class="form-control" placeholder="" />
                    <span asp-validation-for="DrContact" class="text-danger"></span>
                </div>
            </div><br />

            <h4 style="margin-top:10px;">Secondry User One</h4>
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Name</label>
                    <input asp-for="PName" class="form-control" />
                    <span asp-validation-for="PName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone One</label>
                    <input asp-for="PhonePOne" class="form-control" placeholder="345-678-8976" />
                    <span asp-validation-for="PhonePOne" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone Two</label>
                    <input asp-for="PhonePTwo" class="form-control" placeholder="345-678-8976" />
                    <span asp-validation-for="PhonePTwo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Relation</label>
                    <input asp-for="PRelation" class="form-control" />
                    <span asp-validation-for="PRelation" class="text-danger"></span>
                </div>
            </div><br />
            <h4 style="margin-top:10px;">Secondry User Two</h4>
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Name</label>
                    <input asp-for="SName" class="form-control" placeholder="" />
                    <span asp-validation-for="SName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone One</label>
                    <input asp-for="PhoneSOne" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="PhoneSOne" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone Two</label>
                    <input asp-for="PhoneSTwo" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="PhoneSTwo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Relation</label>
                    <input asp-for="SRelation" class="form-control" />
                    <span asp-validation-for="SRelation" class="text-danger"></span>
                </div>
            </div><br />
            <h4 style="margin-top:10px;">Emergency Contact Person</h4>
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">Name</label>
                    <input asp-for="ECPName" class="form-control" placeholder="" />
                    <span asp-validation-for="ECPName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone One</label>
                    <input asp-for="ECPPhoneOne" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="ECPPhoneOne" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Phone Two</label>
                    <input asp-for="ECPPhoneTwo" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="ECPPhoneTwo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Relation</label>
                    <input asp-for="ECPRelation" class="form-control" />
                    <span asp-validation-for="SRelation" class="text-danger"></span>
                </div>
            </div><br />


            <div class="row col-sm-10">
                @*
                    <div class="col">
                        <label asp-for="Deduction" class="control-label"></label>
                        <input asp-for="Deduction" class="form-control" />
                        <span asp-validation-for="Deduction" class="text-danger"></span>
                    </div>*@





                <div class="col">
                    <input type="submit" value="Next" class="btn btn-primary" style="width:100px;margin-top:30px;" />

                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        selectModal();
        $('#MakeModel').change(function () { //this used from where you select
            selectModal();
        })
        function selectModal() {
            $('#Model').empty(); //it will display according to give data
            $.ajax(
                {
                    type: 'post',
                    url: '@Url.Action("VehicleLoad")',
                    dataType: 'json',
                    data: { id: $("#MakeModel").val() },
                    success: function (Models) {
                        $("#Model").append('<option value= " ' + 1 + '" >' + "select model" + '</option>');
                       
                        $.each(Models, function (i, model) {
                            $("#Model").append('<option value="' + model.text + '">' + model.text + '</option>');
                        });
                    },
                });
        }
    });

</script>
}


@*
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            $(document).ready(function() {


                function calculatebalance()
                {
                    var ReceiveAmount = parseInt($('#ReceiveAmount').val());
                    var balance = ReceiveAmount - total;
                    document.getElementById("Balance").value= balance;
                }
                var total= 0;
                function calculateNet()
                {

                    var ext = parseInt($('#ExtraCharges').val());
                    var tax = parseInt($('#Tax').val());
                    var invoiceAmount = parseInt($('#InvoiceAmount').val());
                    var discount = parseInt($('#Discount').val());
                    total = parseInt(ext+tax+invoiceAmount-discount);
                    document.getElementById("Net").value= total;
                }

                $("#ExtraCharges").change(function(){
                  calculateNet();
                });

                $("#Tax").change(function(){
                  calculateNet();
                });

                 $("#InvoiceAmount").change(function(){
                  calculateNet();
                });

                 $("#Discount").change(function(){
                  calculateNet();
                });

                 $("#ReceiveAmount").change(function(){
                  calculatebalance();
                });


            });
        </script>
    }
*@