@model tracking_project.Models.CustomerVehicle

@{
    ViewData["Title"] = "CustomerVehicleDetails";
}


<div>
    <h4>Theasdasdasd Customer vehicle details</h4>
    <hr />
</div>
<a asp-action="FreshPaymentDetails" asp-route-id="@Model.VehicalId">Details</a>
<h5 style="font-family:'Times New Roman'">Vehicle Info</h5>
<table class="table table-bordered" style="font-family:'Times New Roman'">
    <dl>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChasisNo)
        </th>

    </tr>
    <tr>
        <td>

            @Html.DisplayFor(model => model.RegistrationNo)

        </td>
        <td>
            @Html.DisplayFor(model => model.EngineNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.ChasisNo)
        </td>


    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakeModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Color)
        </td>
        <td>
            @Html.DisplayFor(model => model.Year)
        </td>
        <td>
            @Html.DisplayFor(model => model.MakeModel)
        </td>
    </tr>
    <thead>
        </dl>
</table>

<br />
<h5 style="font-family:'Times New Roman';">Extra Info</h5>
<table class="table ">
    <thead>
        <tr style="font-family: 'Times New Roman';">
            <th>
                @Html.DisplayNameFor(model => model.GeoFences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentRemarkes)
            </th>


        </tr>
    </thead>
    <tbody>
        <tr style="font-family: 'Times New Roman'; ">
            <td>
                @Html.DisplayFor(model => model.GeoFences)
            </td>
            <td>
                @Html.DisplayFor(model => model.Source)
            </td>
            <td>
                @Html.DisplayFor(model => model.PaymentRemarkes)
            </td>

        </tr>
        <tr style="font-family:'Times New Roman';">
            <th> @Html.DisplayNameFor(model => model.PaymentAlert)</th>
            <th>@Html.DisplayNameFor(model => model.SpacialRemarkes)</th>
        </tr>
        <tr style="font-family:'Times New Roman';">
            <td>@Html.DisplayFor(model => model.PaymentAlert)</td>
            <td>@Html.DisplayFor(model => model.SpacialRemarkes)</td>
        </tr>

        <tr style="font-family:'Times New Roman';">
            <th> @Html.DisplayNameFor(model => model.Normal)</th>
            <th>@Html.DisplayNameFor(model => model.Emergency)</th>
        </tr>
        <tr style="font-family:'Times New Roman';">
            <td>@Html.DisplayFor(model => model.Normal)</td>
            <td>@Html.DisplayFor(model => model.Emergency)</td>
        </tr>
        <tr style="font-family:'Times New Roman';">
            <th> @Html.DisplayNameFor(model => model.Driver)</th>
            <th>Driver Contact</th>
        </tr>
        <tr style="font-family:'Times New Roman';">
            <td>@Html.DisplayFor(model => model.Driver)</td>
            <td>@Html.DisplayFor(model => model.DrContact)</td>
        </tr>


    </tbody>

</table>


<table class="table">
    <thead>
        <h3>Secondry User One</h3>
        <tr style="font-family: 'Times New Roman'; ">
            <th>
                Name
            </th>
            <th>
                Phone One
            </th>
            <th>
                Phone Two
            </th>
            <th> Relation</th>


        </tr>
        <tr style="font-family: 'Times New Roman';">
            <td>
                @Html.DisplayFor(model => model.PName)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhonePOne)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhonePTwo)
            </td>
            <td>@Html.DisplayFor(model => model.PRelation)</td>

        </tr>
        </tbody>
</table>

<table class="table">
    <thead>
        <tr style="font-family: 'Times New Roman'; ">
            <h3>Secondry User Two</h3>
            <th>
                Name
            </th>
            <th>
                Phone One
            </th>
            <th>
                Phone Two
            </th>
            <th> Relation</th>


        </tr>
        <tr style="font-family: 'Times New Roman';">
            <td>@Html.DisplayFor(model => model.SName)</td>
            <td>@Html.DisplayFor(model => model.PhoneSOne)</td>
            <td> @Html.DisplayFor(model => model.PhoneSTwo)</td>
            <td>
                @Html.DisplayFor(model => model.SRelation)
            </td>
        </tr>


        </tbody>
</table>

<table class="table">
    <thead>
        <tr style="font-family: 'Times New Roman'; ">
            <h3>Emergency Contact Person </h3>
            <th>
                Name
            </th>
            <th>
                Phone One
            </th>
            <th>
                Phone Two
            </th>
            <th> Relation</th>


        </tr>
        <tr style="font-family: 'Times New Roman';">
            <td>@Html.DisplayFor(model => model.ECPName)</td>
            <td>@Html.DisplayFor(model => model.ECPPhoneOne)</td>
            <td> @Html.DisplayFor(model => model.ECPPhoneTwo)</td>
            <td>
                @Html.DisplayFor(model => model.ECPRelation)
            </td>
        </tr>


        </tbody>
</table>

<h1>@Model.VehicalId </h1>

<div>
    <a asp-action="FreshPaymentDetails" asp-route-id="@Model.VehicalId">Next</a> |

    <a asp-controller="InvoiceYearly" asp-action="Index" asp-route-id="@Model.VehicalId">See Billing Details</a>

</div>
