@model tracking_project.Models.CustomerVehicle

@{
    ViewData["Title"] = "CustomerVehicleDetails";
}


<div>
    <h4>The Customer vehicle details</h4>
    <hr />
</div>
<h5 style="font-family:'Times New Roman'">Vehicle Info</h5>
<table class="table table-bordered" style="font-family:'Times New Roman'">
    <dl>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChasisNo)
        </th>
        
    </tr>
    <tr>
        <td>

            @Html.DisplayFor(model => model.RegistrationNo)

        </td>
        <td>
            @Html.DisplayFor(model => model.EngineNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.ChasisNo)
        </td>
        

    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakeModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Color)
        </td>
        <td>
            @Html.DisplayFor(model => model.Year)
        </td>
        <td>
            @Html.DisplayFor(model => model.MakeModel)
        </td>
    </tr>
    <thead>
    </dl>
</table>
<br />
<h5 style="font-family:'Times New Roman'">Payment info</h5>
<table class="table">
    <thead>
        <tr style="font-family: 'Times New Roman'; ">
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveAmount)
            </th>
            <th> @Html.DisplayNameFor(model => model.Balance)</th>
            

        </tr > 
        <tr style="font-family: 'Times New Roman';">
            <td>
                @Html.DisplayFor(model => model.Discount)
            </td>
            <td>
                @Html.DisplayFor(model => model.Net)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReceiveAmount)
            </td>
            <td>@Html.DisplayFor(model => model.Balance)</td>
           
        </tr>
        <tr style="font-family: 'Times New Roman';">
            <th>@Html.DisplayNameFor(model => model.Deduction)</th>
            <th> @Html.DisplayNameFor(model => model.Bank)</th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </th>
        </tr>
        <tr style="font-family: 'Times New Roman';">
            <td>@Html.DisplayFor(model => model.Deduction)</td>
            <td>@Html.DisplayFor(model => model.Bank)</td>
            <td> @Html.DisplayFor(model => model.ExtraCharges)</td>
            <td>
                @Html.DisplayFor(model => model.InvoiceAmount)
            </td>
        </tr>
        <tr style="font-family: 'Times New Roman'">
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
        </tr>
        <tr style="font-family: 'Times New Roman'">
            <td>
                @Html.DisplayFor(model => model.Tax)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaxDeduction)
            </td>
            <td>
                @Html.DisplayFor(model => model.Commission)
            </td>
            <td>
                @Html.DisplayFor(model => model.DueDate)
            </td>
        </tr>
    
    </tbody>
</table>




<br />
<h5 style="font-family:'Times New Roman';">Extra Info</h5>
<table class="table ">
    <thead>
        <tr style="font-family: 'Times New Roman';">
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentRemarkes)
            </th>
            

        </tr>
    </thead>
    <tbody>
        <tr style="font-family: 'Times New Roman'; ">
            <td>
                @Html.DisplayFor(model => model.Reason)
            </td>
            <td>
                @Html.DisplayFor(model => model.Source)
            </td>
            <td>
                @Html.DisplayFor(model => model.PaymentRemarkes)
            </td>

        </tr>
        <tr style="font-family:'Times New Roman';">
            <th> @Html.DisplayNameFor(model => model.PaymentAlert)</th>
            <th>@Html.DisplayNameFor(model => model.SpacialRemarkes)</th>
        </tr>
        <tr style="font-family:'Times New Roman';">
            <td>@Html.DisplayFor(model => model.PaymentAlert)</td>
            <td>@Html.DisplayFor(model => model.SpacialRemarkes)</td>
        </tr>
    </tbody>
    </tbody>
</table>
<table class="table ">
    <tbody>
     
</table >
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
