@model tracking_project.Models.FreshPayment

@{
    ViewData["Title"] = "FreshPaymentDetails";
}

<h3>Fresh Payment Details</h3>

<div>
    <table class="table table-bordered" style="font-family:'Times New Roman'">
        <dl>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveAmount)
            </th>

        </tr>
        <tr>
            <td>

                @Html.DisplayFor(model => model.UnitCost)

            </td>
            <td>
                @Html.DisplayFor(model => model.ServiceTax)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReceiveAmount)
            </td>


        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCharges)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Discount)
            </td>
            <td>
                @Html.DisplayFor(model => model.Commission)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExtraCharges)
            </td>
        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecidedAMF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxDeduction)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(model => model.DecidedAMF)
            </td>
            <td>
                @Html.DisplayFor(model => model.TaxDeduction)
            </td>
        </tr>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.DueDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Balance)
            </td>
            <td>
                @Html.DisplayFor(model => model.Net)
            </td>
            
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Deduction)</th>
            </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Deduction)
            </td>
        </tr>
        <thead>
            </dl>
    </table>
    
    
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
