@model IEnumerable<tracking_project.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer information</h1>

<p>
    <a asp-action="Customercreate">Create New</a>
</p>
<table id="myTable" class="table table-striped">
    <thead>
        <tr style="font-family:'Times New Roman'">
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.PhonePOne)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.PhonePTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Normal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency)
            </th>*@

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-family:'Times New Roman'">
            
            <td>
                <a href="@Url.Action("ApplicationForm","Customer", new { id = item.CustomerId })" class="nav-link">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.PhonePOne)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.PhonePTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneSOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneSTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emergency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePerson.Name)
            </td>*@

            <td>
                <a asp-action="CustomerVehicleSelect" asp-route-id="@item.CustomerId">Select</a> |
                <a asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="CustomerDetails" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a> 

                

            </td>
        </tr>
}
    </tbody>

     <tfoot>
            <tr style="font-family:'Times New Roman'">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PhonePOne)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.PhonePTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Normal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency)
            </th>*@
        </tr>
        </tfoot>
</table>


@section Scripts {
     <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
 <script>
     $(document).ready(function () {
    $('#myTable').DataTable({
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
 </script>   
}