@model IEnumerable<tracking_project.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer information</h1>

<p>
    <a asp-action="Customercreate">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr style="font-family:'Times New Roman'">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            
            <th>
                Sales Person
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-family:'Times New Roman'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePerson.Name)
            </td>

            <td>
                <a asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="CustomerDetails" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>

                <a asp-action="CustomerVehicleSelect" asp-route-id="@item.CustomerId">select</a>

            </td>
        </tr>
}
    </tbody>
</table>
