@model tracking_project.Models.UnitVehicle

@{
    ViewData["Title"] = "UnitVehicleDetails";
}

<h4>Unit Details</h4>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeoFences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeoFences)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreshExpiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreshExpiry)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.ChasisNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
